body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://www.lamons.com/wp-content/uploads/2021/08/WITB-header-plans-scaled.jpg');
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {
  position: absolute;
  background-color: #c0c0c0;
  display: block;
  text-align: center;
  align-items: center;
  width: 100%;
  border: 4px solid black;
}

form {
  background: white;
}

.login h1 {
 display: block;
 font-size: 3rem;
 margin-top: 10px;
 margin-bottom: 15px;
}


.pageContainer {
  display: flex;
  width: 100%;
  position: absolute;
  flex-direction: column;
}

button {
  height: 31px;
}
table {
  background-color: white;
}

th {
 width: 500px;
}

button:hover {
  border: 2px solid;
  border-color: orange;
}

select {
  width: 150px;
}

/* projects */
.projects-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 20px 0px 40px 40px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}
.project-navbar {
  display: block;
  justify-content: center;
  align-self: center;
  width: 10%;
  margin-left: 80%;
}

.project-navbar select {
  height: 30px;
  width: auto;
  padding: auto;
  margin-top: 30px;
  text-align: center;
  align-self: right;
  display: block;
}

.project-navbar select:hover {
  border: 2px solid;
  border-color: orange;
}

.projects select {
  display: inline;
  height: 31px;
  width: auto;
  padding: auto;
  align-content: center;
  text-align: center;
  cursor: pointer;
  outline: none;
  margin: 0px 5px 10px 200px;
}

.projects select:hover {
  border: 2px solid;
  border-color: orange;
}

.projects table {
  border-collapse: collapse;
  width: 95%;
  align-self: center;
  margin-bottom: 100px;
}

.projects tbody {
  border: 2px solid black;
}

.projects th {
  padding: 10px;
  border: 2px solid black;
  font-size: large;
  text-align: left;
}

.projects td {
  padding: 10px;
  border: 1px solid black;
}

/* Create new project */
.project-form-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.new-project-form {
  display: flex;
  margin-top: 10px;
}
.new-project-form label{
  display: block;
  text-align: center;
  margin-left: 10px;
}
.new-project-form input{
  display: block;
  height: 25px;
  width: 150px;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}
.new-project-form select{
  display: block;
  height: 31px;
  width: 158px;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
 
}
.new-project-form input[type='submit']{
  display: inline;
  margin-top: 19px;
  width: 90px;
  height: 31px;
}

.new-project-form select:hover {
  border: 2px solid;
  border-color: orange;
}
.new-project-form input:hover {
  border: 2px solid;
  border-color: orange;
  border-radius: 5%;
}


/* Add new project budgetItems */
.page-title{
  display: flex;
  justify-content: space-evenly;
}
.estimate-form-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
}

.estimate-form-selector {
  display: flex;
  justify-content: center;
}
.estimate-form-selector form {
  display: flex;
  margin-top: 50px;
  margin-left: 25px;
} 

.estimate-form-selector form select {
  display: block;
  height: 31px;
  width: auto;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}

.estimate-form-selector button{
  display: inline;
  margin-left: 15px;
  width: 90px;
  height: 31px;
}

.estimate-form-view {
  margin-left: 50px;
}

.estimate-form-view select {
  height: 25px;
  text-align: center;
}

.estimate-form-view button {
  margin-left: 255px;
}

.budgetItem-container{
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.budgetItem-container table{
 margin: 25px 99px 30px 0px;
 width: 92%;
}

.budgetItem-container th{
  width: 158px;
  border: none;
  text-align: center;
  padding: 0 0 0 0;
}

.budgetItem-form-container {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-around;
}

.budgetItem-form {
  display: flex;
 
}

.budgetItem-form input{
  display: block;
  height: 25px;
  width: 150px;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}
.budgetItem-form select{
  display: block;
  height: 31px;
  width: 158px;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
 
}
.budgetItem-form input[type='submit']{
  display: inline;
  width: 90px;
  height: 31px;
}

.budgetItem-form select:hover {
  border: 2px solid;
  border-color: orange;
}
.budgetItem-form input:hover {
  border: 2px solid;
  border-color: orange;
}

/* Directory */

.user-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  justify-content: flex-start;
}

.user-form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: 100px;
}
.user-form label{
  display: block;
  text-align: center;
}
.user-form input{
  display: block;
  height: 25px;
  width: 125px;
  padding: auto;
  align-content: left;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  outline: none;
}
.user-form input[type='submit']{
  display: block;
  margin-top: 20px;
  margin-left: 200px;
  width: 90px;
  height: 31px;
}

.user-form input:hover {
  border: 2px solid;
  border-color: orange;
  border-radius: 5%;
}
/* Dashboard */

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 25px;
}
.dashboard-buttons {
  display: flex;
  justify-content: space-between;
}

.dashboard label {
  display: block;
  width: 10%;
  text-align: center;
  font-weight: 600;
  margin: 0px 0px 0px 200px;
}

.dashboard select {
  display: inline;
  height: 31px;
  width: 150px;
  padding: auto;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 15px;
  cursor: pointer;
  outline: none;
}


.dashboard select:hover {
  border: 2px solid;
  border-color: orange;
}

.dashboard-buttons button {
  display: inline;
  margin-right: 10%;
  margin-top: 1%;
  height: 31px;
  text-align: center;
  cursor: pointer;
}

.dashboard table {
  border-collapse: collapse;
  width: 95%;
  align-self: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.dashboard tbody {
  border: 2px solid black;
}

.dashboard th {
  padding: 5px;
  width: 400px;
  border: 2px solid black;
  font-size: large;
  text-align: left;

}

.dashboard td {
  padding: 10px;
  border: 1px solid black;
}

.paginate {
  margin: 0 0 0 100px;
}

.paginate button {
  color: black;
  margin-right: 3px;
}

/* View nav bar */

.viewNavContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: #c0c0c0;
  border-bottom: 4px solid black;
}

.viewNavContainer img {
  height: 75px;
  width: 125px;
  float: left;
}

.viewNavContainer button {
  float: right;
  align-self: center;
  margin: 0 10px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}

/* Login/Signup */

.box{
  height: auto;
  width: 25%;
  padding: 1%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: end;
  box-shadow: 0 0 20px;
  border-radius: 2%;
  text-align: center;
  background: white;
}

.box input[type = "text"]{
  border:0;
  display: block;
  margin: 5% auto;
  text-align: center;
  border: 2px solid black;
  padding: 3% 2%;
  width: 50%;
  outline: none;
  color: black;
  transition: 0.25s;
  font-weight: 600;
}

.box input::placeholder{
 color: #282c34;
 font-weight: 400;
}

.box input[type = "password"]{
  border:0;
  display: block;
  margin: 5% auto;
  text-align: center;
  border: 2px solid black;
  padding: 3% 2%;
  width: 50%;
  outline: none;
  color: black;
  transition: 0.25s;
  font-family: Verdana, sans-serif;
}

.box input[type = "text"]:focus{
  width: 55%;
  border-color: orange;
}

.box input[type = "password"]:focus{
  width: 55%;
  border-color: orange;
}

.box input[type = "submit"]{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid black;
  padding: 14px 40px;
  outline: none;
  color: black;
  transition: 0.25s;
  cursor: pointer;
  font-weight: 600;
}

.box input[type = "submit"]:hover{
  background: orange;
  color: black;
}
