<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
    <title>Email</title>
  </head>

  <body>
    <h1>Welcome to Genesis Estimator</h1>
      <h3>
        You have successfully added to the <%= @company.name %> Estimator account!
      </h3>
  </body>
</html>
